body {
 font-family: Calibri,sans-serif;
 font-size: 1.0em;
}

header {
  background-image: url("Isthmus_AerialView.jpg");
  max-width: 100%;
  height: auto;
}

h2 {
 padding: 10px;
 color: white;
 background-color: black;
}

.button {
 font-family: Calibri,sans-serif;
 background-color: red;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 -webkit-transition-duration: 0.4s;
 transition-duration: 0.4s;
 font-size: 20px;
 border-radius: 2px;
 margin: 4px 2px;
 cursor: pointer;
}

/* Change color on hover */
.button:hover {
  background-color: black;
  color: white;
}

.button:active {
  background-color: red;
  transform: translateY(4px);
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 20%;
  height: auto;
}

footer {
 padding: 10px;
 color: white;
 background-color: black;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

th, td {
  border: 1px solid black;
  padding: 15px;
}
