body {
 font-family: Calibri,sans-serif;
 font-size: 1.0em;
}

header {
 padding: 10px;
 color: white;
 background-color: black;
}

.button {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Style the topnav links */
.button a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.button a:hover {
  background-color: #ddd;
  color: black;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 100%;
  height: auto;
}

footer {
 padding: 10px;
 color: white;
 background-color: black;
}
